.home-container {
  display: flex;
  justify-content: space space-between;
}

.hero-image {
  background-image: url("https://i.imgur.com/JkaG4KU.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  width: 500px;
}
.home-text-container {
  padding: 0 0 0 20px;
}







.navbar {
  background-color: grey;
  display: flex;
  justify-content: center;
}

.home-link{
  padding: 10px;  
}



.searchbar {
  display: flex;
  justify-content: center;
}




