* {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: black;
}

// * Home Page

.home-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(189, 154, 109);
}
.hero-image {
  display: flex;
  flex-direction: row;
  height: 1200px;
  width: 600px;  
}
.inner-home-container {
  display: flex;
  align-items: center;
}
.home-text-container {
text-align: center;
}
h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 80px;
  font-style: italic;
}

// * Navbar

.navbar {
  background-color: rgb(245, 221, 2);
  display: flex;
  justify-content: center;
}
.home-link{
  display: flex;
  flex-direction: row;
  padding: 10px;
  text-decoration: none; 
  font-size: 20px;  
}

.home-link-button {
  padding: 0 10px 0 0;
}
.search-link-button {
  padding: 0 0 0 10px;
}


// * Search

.search-container {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}
.search-image {
  display: flex;
  flex-direction: column-reverse ;
  height: 900px;
}
.searchbar {
  display: flex;
  justify-content: center;
  padding: 50px 0 0 0;
}

// * Show

.pokemon-container {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  text-align: center;
  background-color: white;
}
.pokemon-name {
  font-size: 40px;
}
.pokemon-image {
  height: 600px;
  width: 600px;
}
.pokemon-text {
  font-size: 30px;
}

//  * Error 

.error-container {
  display: flex;
  justify-content: center;
}

.error-text {
  
}

.error-image {
  display: flex;
  justify-content: center;
  height: 500px;
  width: 500px;
}



